/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
html, body, #map {width: 100%; height: 100%;}
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* --------------------------------------------------------
  Global styles
--------------------------------------------------------- */

body {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: url(img/bg.jpg);
}

h1 {
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
}

p {
  padding: 0 0 10px 0;
  }

a {
  color: #489;
  }

/* --------------------------------------------------------
  Layout
--------------------------------------------------------- */

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}


header {
}

header img {
  margin: 0 auto;
  display: block;
}

header h1 {
  position: relative;
  padding-top: 22px;
  font-family: "Love Ya Like A Sister";
  color: #fff;
  background: url(img/h1_bg.jpg) 0 22px repeat-x;
  line-height: 95px;
  text-align: center;
  display: block;
  font-size: 75px;
}

header h1:before {
  content: '';
  width: 100%;
  height: 22px;
  background: url(img/h1_top.jpg);
  position: absolute;
  top: 0;
  left: 0;
}

header nav {
  width: 100%;
  height: 49px;
  background: url(img/menu_bg.jpg);
}

header nav ul {
  width: 850px;
  display: table;
  margin: 0 auto;
}

header nav ul li {
  width: 1%;
  display: table-cell;
  text-align: center;
}

header nav ul li a {
  font-family: 'Ubuntu Condensed';
  font-size: 24px;
  line-height: 49px;
  text-decoration: none;
  color: #323431;
}

header nav ul li a:hover {
  color: #000;
}

section#main {
  margin: 20px 24px 20px 20px;
  padding: 35px 25px;
  background: url(img/content_bg.jpg);
  position: relative;
}

section#main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url(img/content_top.jpg);
}

section#main:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url(img/content_bottom.jpg);
}

section#visao-geral nav ul {
  display: table;
  width: 790px;
  margin: 0 auto;
  height: 40px;
  display: block;
}

section#visao-geral nav ul li {
  display: table-cell;
  width: 1%;
  text-align: center;
}

section#visao-geral nav ul li a {
  font-family: 'Ubuntu Condensed';
  font-size: 20px;
  color: #d2cac8;
  text-decoration: none;
}

section#visao-geral nav ul li.active a,
section#visao-geral nav ul li:hover a {
  color: #000;
}

#carousel .prev {
  width: 49px;
  height: 88px;
  background: url(img/carousel_arrow_left.jpg);
  top: -9px;
  left: 6px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  z-index: 2;
}

#carousel .next {
  width: 50px;
  height: 88px;
  background: url(img/carousel_arrow_right.jpg);
  top: -10px;
  right: -10px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  z-index: 2;
}

#carousel #map {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

#carousel ul.carousel-content > li {
  position: relative;
}

#carousel .mapa .cidade-teaser {
  z-index:999999;
  position:absolute;
  -webkit-user-select:auto;
  right:20px;
  top:20px;
  max-width:300px;
  opacity:1;
  background: #efebea;
  width: 270px;
  padding: 20px;
  opacity: .9;
  text-align: center;
  font-family: 'Ubuntu Condensed';
  color: #000;
}

#carousel .mapa .cidade-teaser h2 {
  color: #e7841f;
  font-size: 30px;
  margin: 0 0 10px
}

#carousel .mapa .cidade-teaser p.total {
  font-size: 30px;
  margin: 20px 0;
}

#carousel .mapa .cidade-teaser p.total span {
  display: block;
}

#carousel .mapa .cidade-teaser p.total .n {
  font-size: 80px;
}

#carousel .mapa .cidade-teaser p.total .foot {
  font-size: 20px;
}

#carousel .mapa .cidade-teaser .tipos li {
  font-size: 16px;
  padding: 3px 0;
}

#carousel .mapa .cidade-teaser .tipos li span {
  font-size: 20px;
  color: #e8851f;
}

section#navegue {
  display: none;
}

footer {
  width: 100%;
  height: 200px;
}

/* --------------------------------------------------------
  Wax, largely taken from theme/controls.css
--------------------------------------------------------- */

a.zoomer {
  text-decoration:none;
  position:absolute;
  background-color:#fff;
  line-height:30px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:30px;
  height:30px;
  top: 20px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #333;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }
  a.zoomin {
    left:20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    }
  a.zoomout {
    left:50px;
    border-left: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    }

.wax-legends {
  position:absolute;
  right:20px;
  bottom:20px;
  z-index:999999;
  background: #fff;
  padding: 15px 10px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }

.wax-fade {
  opacity:0;
  transition: opacity .5s;
  -moz-transition: opacity .5s; /* Firefox 4 */
  -webkit-transition: opacity .5s; /* Safari and Chrome */
  -o-transition: opacity .5s; /* Opera */
  }

  .wax-tooltip .close {
    display:block;
    position:absolute;
    top:0px;
    right:0px;
    }






 .wax-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .wax-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .wax-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    margin-bottom: 10px;
    }
  .wax-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
    }





#filter_map {
  width: 400px;
  height: 300px;
}

#filter_map .cidade-marker {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: url(img/marker.png);
  position: absolute;
}

#filter_map .cidade-marker .cidade-tip {
  position: absolute;
  width: 200px;
  top: -13px;
  left: -100px;
  text-align: center;
  font-size: 12px;
  display: none;
  color: #000;
  text-shadow: 1px 1px 2px #fff;
  font-weight: bold;
}

#filter_map .cidade-marker:hover .cidade-tip,
#filter_map .cidade-marker.active .cidade-tip {
  display: block;
}